# December Compensation Analysis for RAW

In [48]:
import glob
import pandas as pd

list_of_csv_files = glob.glob('./*.csv')
list_of_csv_files.sort()

# read and merge all data exports from discord
df = pd.concat(map(pd.read_csv, list_of_csv_files), ignore_index=True)

# filter for december
df['Date'] = pd.to_datetime(df['Date'])
df = df[df['Date'] >= '2021-12-01']
df = df[df['Date'] <= '2021-12-31']

df

,AuthorID,Author,Date,Content,Attachments,Reactions
169,861685730937274409,b123#2778,2021-12-01,I was brainstorming for a while today and woul...,NaN,"üëÜ (8),üíØ (2),üëÄ (1)"
170,419935721936125952,MesutNFT#9591,2021-12-01,Great ideas üíØ,NaN,NaN
171,181918945840726017,glory#5406,2021-12-01,Love the ideas.\n\nOn 3 -- I'm not from this w...,NaN,üëç (1)
172,799729291017060383,charlierubin#0001,2021-12-01,Where is the spreadsheet link?,NaN,NaN
173,354075032479334402,FramesFL#3512,2021-12-01,https://docs.google.com/spreadsheets/d/1VGCIpQ...,NaN,Like (1)
...,...,...,...,...,...,...
8607,802980996114415648,justinaversano.eth#9406,2021-12-30,"Kris, Amy, Julie, MCB",NaN,üôè (1)
8608,802980996114415648,justinaversano.eth#9406,2021-12-30,What‚Äôs best way to connect,NaN,NaN
8609,693277954519728138,Lapsus#4632,2021-12-30,"Thanks, Justin! Any would do: if they have Dis...",NaN,NaN
8610,802980996114415648,justinaversano.eth#9406,2021-12-30,Great! What should I tell them,NaN,üôè (2)
8611,693277954519728138,Lapsus#4632,2021-12-30,That we'd like to coordinate with them to gath...,NaN,NaN

In [49]:

# group by author
df = df[['Author','Content']]
df = df.groupby(['Author']).count()
df = df[df['Content'] >= 15]
df = df.sort_values(by=['Content'], ascending=False)

df

                          Content
Author
hddamico#7928                 763
Lapsus#4632                   756
lucaspon#3865                 662
justinaversano.eth#9406       470
zs#3807                       262
michelleviljoen.eth#8371      177
Freddie#0100                  174
claudia#0273                  159
foto.eth#8472                 152
mdr#8647                      137
alexcartagenamex#4215         125
DT | Luiz#4149                120
Zak_Krevitt#7060               97
blockbird#2283                 97
Samovarul#6470                 95
shanelavalette#2830            79
charlierubin#0001              78
Let‚Äôs Not Know Us#1036         75
b_themouth#0088                73
samedixsnft#8110               69
Klamt#3962                     68
glory#5406                     63
137#3020                       48
MesutNFT#9591                  44
MichaMandelberg#1138           44
chadwicktyler#3331             44
RobinFriend#7507               42
Shira#9662                     41
alexandruchitu.eth#6244        35
away_i_flew#9859               34
ednz.eth#4780                  34
mmiliszkiewicz#5782            33
FramesFL#3512                  29
b123#2778                      28
tatiana#6176                   27
terence#2323                   27
Seth üî≤ ¬≤#8330                  26
lightchronicler#4067           24
MickeySmith#2765               20
Ari Greenberg#4498             19
milos#1340                     19
ajberni#9976                   19
thebonnie#3404                 17
travisrogers#2611              16